#wraper {
  height: 100%; 
  width: 100%; 
}

#menu {
  background-image: url("officebluelightMLnote4.jpg");
  background-color: #0a0d2b;
  font-family: 'Arial';
  color: white;
  height: 100%; 
  width: 30%; 
  position:absolute; 
  top: 0; 
  left: 0;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 2.5em;
  background-color: rgba(0, 0, 0, 0.3);
}

#projectList {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 130px;
  text-align: left;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 1.2em;
}

#projects {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#projects:hover {
    color: #0a0d2b;
    background-color: rgba(255, 255, 255, 0.7);
}

#social{
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Arial';
  font-size: 1em;
  bottom: 0px;
  position:absolute;
  width: 89%;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

#mail {
  margin-left: 20px;
}

#page {
  max-width: 70%;
  max-height: 100%;
  float: right;
  font-family: 'Arial';
  font-size: 1em;
}

#imageSpace {
  max-height: 20%;
  width: 100%;
  float: right;
}


#image {
  margin-top: 20px;
  margin: 20px;
  float: right;
  max-height: 20%;
  max-width: 20%;
  border-radius: 50%;
}

#text{
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
}

#map{
  max-width: 100%;
  max-height: 40%;
  position: absolute;
  margin: auto;
  padding: 20px;
}

#mainSkills{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  font-size: 1em;
  color: #262626;
  text-align: justify;
  width: 100%;
  display: inline-block;
  horizontal-align:middle;
}

#skillOne{
  width: 20%;
  display: inline-block;
  padding: 0 20px;
}

#skillTwo{
  width: 20%;
  display: inline-block;
  padding: 0 20px;
}

#skillThree{
  width: 20%;
  display: inline-block;
  padding: 0 20px;
}

#skillFour{
  width: 20%;
  display: inline-block;
  padding: 0 20px;
}

#iconImage{
  width: 50%;
}




@media only screen and (max-width: 600px) {

    #wraper {
      height: auto; 
      width: 100%; 
    }

    #menu {
      background-image: url("officebluelightMLnote4.jpg");
      background-color: #0a0d2b;
      font-family: 'Arial';
      color: white; 
      width: 100%;
    }

    h1 {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 1.8em;
    }

    #projectList {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 40px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 0.8em;
    }

    #social{
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Arial';
      font-size: 0.5em;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: auto;
    }

    #page {
      width: 100%;
      margin-top: 20px;
      margin-left: 0px;
      margin-right: 0px;
      font-family: 'Arial';
      font-size: 1em;
      float: left;
    }

    #text{
      margin-top:auto;
      font-family: 'Arial';
      font-size: 0.5em;
      color: #262626;
      text-align: justify;
      float: left;
    }

    #skillOne{
      width: 100%;
    }

    #skillTwo{
      width: 100%;
    }

    #skillThree{
      width: 100%;
    }

    #skillFour{
      width: 100%;
    }

    #iconImage{
      width: 100%;
    }   
}

@media only screen and (max-width: 1400px) {

    h1 {
      font-size: 3em;
    }

    #projectList {
      font-size: 1.5em;
    }

    #social{
      font-size: 1.5em;
    }

    #page {
      font-size: 1.5em;
    }

    #text{
      font-size: 1.5em;
    }

