#wraper {
  height: 100%; 
  width: 100%; 
}

#menu {
  background-image: url("officebluelightMLnote4.jpg");
  background-color: #0a0d2b;
  font-family: 'Arial';
  color: white;
  height: 100%; 
  width: 30%; 
  position:absolute; 
  top: 0; 
  left: 0;
}

#menuTwo {
  margin-top: 50px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 2.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#projectList {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  text-align: left;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 1.2em;
}

#projects {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

#projects:hover {
    color: #0a0d2b;
    background-color: rgba(255, 255, 255, 0.9);
}

#social{
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Arial';
  font-size: 1em;
  bottom: 0px;
  position:absolute;
  width: 91%;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

#mail {
  margin-left: 20px;
}

#icons {
  float: right;
  margin-right: 5px;
}

#page {
  max-width: 70%;
  max-height: 100%;
  float: right;
  font-family: 'Arial';
  font-size: 1em;
}

#imageSpace {
  max-height: 20%;
  width: 100%;
  float: right;
}


#image {
  margin-top: 20px;
  margin: 20px;
  float: right;
  max-height: 20%;
  max-width: 20%;
  border-radius: 50%;
}

#text{
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
}

#text2{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
}

#text3{
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
}

h2 {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: black;
  text-align: justify;
}

#textKeyWords{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
}

#projectLink{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Arial';
  color: #262626;
  text-align: justify;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#map{
  max-width: 100%;
  max-height: 40%;
  position: absolute;
  margin: auto;
  padding: 20px;
}

#mainSkills{
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 1em;
  color: #262626;
  text-align: center;
  width: 100%;
  display: inline-block;
  horizontal-align:middle;
}

#skillOne{
  width: 20%;
  display: inline-block;
  margin-left: 0px;
  margin-right:20px;
}

#skillTwo{
  width: 20%;
  display: inline-block;
  margin-left: 0px;
  margin-right:20px;
}

#skillThree{
  width: 20%;
  display: inline-block;
  margin-left: 0px;
  margin-right:20px;
}

#skillFour{
  width: 20%;
  display: inline-block;
  margin-left: 0px;
  margin-right:0px;
}

#iconImage{
  width: 50%;
}




@media only screen and (max-width: 600px) {

    #wraper {
      display: inline-block;
    }

    #menu {
      background-image: url("officebluelightMLnote4.jpg");
      background-color: #0a0d2b;
      font-family: 'Arial';
      color: white; 
      width: 100%;
      height: 600px;
    }

    h1 {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 1.8em;
    }

    #projectList {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 40px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 0.8em;
    }

    #social{
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Arial';
      font-size: 0.5em;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: auto;
    }

    #page {
      min-width: 100%;
      margin-top: 610px;
      margin-left: 0px;
      margin-right: 0px;
      font-family: 'Arial';
      font-size: 0.5em;
      float: left;
      text-align: left; 
    }

    #imageSpace {
      max-height: 25%;
      min-width: 100%;
      float:none;
      padding:20px;
      margin-left: 0px;
      margin-right: 0px;
    }


    #image { 
      display:block;  
      margin:auto;
      max-height: 50%;
      max-width: 50%;
      border-radius: 50%;
      float:none;
    }

    #text{
      width: 100%;
      margin-top:auto;
      font-family: 'Arial';
      font-size: 0.5em;
      color: #262626;
      text-align: left;
      float: left;
      margin-left:0px;
      margin-right:0px;
    }
  
  
    #mainSkills{
      visibility: hidden;
    }  
}

@media only screen and (max-width: 1400px) {

    h1 {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 2em;
    }

    #projectList {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      text-align: left;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 1em;
    }

    #social{
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Arial';
      font-size: 1em;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: auto;
    }

    #page {
      font-size: 1em;
    }

    #text{
      font-size: 1em;
    }
 }
